<main class="layout">
  <!-- navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">urlShort</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Get Started</a>
        </li>
    
      </ul>
    </div>
  </nav>
  <!-- landing page -->
  <section class="header ">
    <div class="header-text ">
      <h1>More Than Just <br> Shorter Links</h1>
      <p>Build your brand's recognition and get detailed  insights on how your links are performing</p>
      <button class="button">
        Get Started
      </button>
    </div>
    <figure>
      <img src="../assets/illustration-working.svg" class="img-fluid" alt="">
    </figure>
  </section>

  <section class="shortLink-section">
      <div class="shortLink-wrapper">
          <div class=" shortLink">
              <div class="input" >
                <input [formControl]="linkInput" type="text" style="width: 100%; height:100%;">
              </div> 
              <button class="button" (click)="shortenLink()" >Shorten It</button>
          </div>
      </div>
      <div *ngIf="showEl" class="displayDiv">
            <div class="container">
              <div class="display-panel">
                <div class="link-panel">
                  https://betballers.com/23/?support 
                </div>
                <div class="apiLink-panel">
                  <div id="apiLink" class="apiLink">
                    {{linkData?.result.short_link}}
                  </div>
                  <button class="button">
                    Copy
                  </button>
                </div>
              </div>
            </div>
      </div>
  </section>
  <section class="stat-section">
    <div class="statDiv">
      <div class="statDiv__header">
          <h2>Advanced Statistics</h2>
          <p> Track how your links are performing across the web with <br> our advanced statistics dashboard</p>
      </div>
    </div>
    <div class=" statDiv__content">
      <div class="box mt1">
        Lorem ipsum 
      </div>
      <div class="box mt2">
        adipisicing elit. Totam, aspernatur
      </div>
      <div class="box mt3 ">
        ldihddwf hfhfjdb djjdjdj
      </div>
    </div>
  </section>
  <footer></footer>
</main>