.layout {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.header {
    margin-top: 5%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column-reverse;
    background: #fff;
    height: 35rem;
}
.header-text {
    margin-left: 5%;
    text-align: center;
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }
    p {
        color: hsl(0, 0%, 75%);
        font-weight: 500;
        font-size: 1.2rem;
    }
}
figure {
    margin-left: 1rem;
}
.button {
    background: cyan;
    width: 8rem;
    height: 2rem;
    border-radius: 24px;
    color: #fff;
    font-weight: 500;
    border: none;
}
// short link section
.shortLink-section {
    width: 100%;
    background: hsl(0, 0%, 75%);
    // height: 10rem;
}
.shortLink-wrapper {
    height: 7rem;
    width: 70%;
    background: rgb(15, 107, 107);
    position: relative;
    display: grid;
    place-content: center;
    top: -1rem;
    margin: 0px 15%;
    border-radius: .5rem;
}
.shortLink {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 70%;
}
.input {
    height: 2.5rem;
    background: white;
}
// shortened link display
.displayDiv {
    .container {
        width: 100%;
        // margin: 0 15%;
        height: 4rem;
        background: #fff;
        border-radius: .5rem;
        
    }
}
.display-panel {
    display: grid;
    place-content: center;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
    height: 100%;

}
.link-panel {
    width: 100%;
    height: 100%;
}
.apiLink-panel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    .apiLink {
        color:  hsl(180, 66%, 49%);
        font-weight: 600;
    }
}
// statistic div
.stat-section {
    width: 100%;
    padding-top: 3rem;
    background: hsl(0, 0%, 75%);
}
.statDiv {
    &__header {
        text-align: center;
        h2 {
            font-weight: 600;
        }
        p {
            color: gr;
        }
    }
    &__content {
        background: hsl(0, 0%, 75%);
        position: relative;
        width: 70%;
        margin: 0 15%;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    &__content:before {
        content: "";
        position: absolute;
        background: rgb(15, 107, 107);;
        width: .7rem;
        bottom: 1rem;
        top: 0;
        left: 6.7rem;
    }
}
.box {
    height: 15rem;
    background: #fff;
    position: relative;
    padding: 0px 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    figure {
        position: absolute;
        left: 4rem;
        top: -2rem;
        background: hsl(257, 27%, 26%);
        width: 4.2rem;
        height: 4.2rem;
        display: grid;
        place-content: center;
        border-radius: 50%;
    }
    h4{
        margin-top: 3rem;
        font-weight: 600;
    }
    p {
        color: hsl(0, 0%, 75%);
        font-weight: 500;
    }
}
// getstarted section
.getStarted-section{
    height: 10rem;
    width: 100%;
    display: grid;
    place-content: center;
    padding: 5% 15%;
    background: rgb(15, 107, 107);
    h1 {
        color: #fff;
        margin-bottom: 1rem;
    }
    button {
        margin: auto;
    }    
}
.footer {
    height: 5rem;
    background:rgb(2, 15, 15);
    color: #fff;
    padding: 1rem;
    div {
        display: flex;
        justify-content: space-around;
    }
    span {
        display: flex;
        gap: 1rem;
    }
    p {
        text-align: center;
    }
}


@media only screen and (min-width: 980px)  {
    .layout {
        height: 100vh;
    }
    .header {
        flex-direction: row;
    }
    .header-text {
        // margin-left: 10%;
        text-align: left;
        h1 {
            font-size: 3.5rem;    
        }
        p {
            font-size: 1rem;
        }
    }
    .shortLink-wrapper {
        height: 7rem;
        top: -3rem;
    }
    .shortLink {
        grid-template-columns: 1fr max-content;
    }
    .input {
        width: 30rem;
    }
    .statDiv__content {
        flex-direction: row;
        height: 22rem;
    }
    .statDiv__content:before {
        width: 100%;
        height: .75rem;
        top: 12rem;
        left: 0;
        right: 0;
    }
    .box{
        width: 40%;
        figure {
            top: -2rem;
            left: 0rem;
        }
    }
    .mt1 {
        margin-top: 1rem;
    }
    .mt2 {
        margin-top: 3rem;
    }
    .mt3{
        margin-top: 5rem;
    }
}

@media only screen and (min-width: 1440px)  {
    .header {
        margin: 0px 7%;
        margin-top: 5%;
        margin-bottom: 4rem;
    }
}